Repository azadoks/aiida-openmx: changes, and which pre-commit hooks are due for each by the changed paths.
All: prospector, version-number

prospector:
  language: system
  name: prospector
  description: 'This hook runs Prospector: https://github.com/landscapeio/prospector'
  entry: prospector

version-number:
  name: Check version numbers
  entry: python ./.github/check_version.py
  language: system

Passing pre-commit
  .prospector.yaml
  .style.yapf
  aiida_openmx/__init__.py
  aiida_openmx/calculations/openmx.py
  aiida_openmx/cli/calculations/openmx.py
  aiida_openmx/cli/workflows/base.py
  aiida_openmx/cli/workflows/md.py
  aiida_openmx/parsers/openmx.py
  aiida_openmx/utils/_dict.py
  aiida_openmx/utils/_input.py
  conftest.py
  docs/source/conf.py
  pyproject.toml
  setup.py
  tests/__init__.py
  tests/test_calculations.py
  tests/test_cli.py
Due: prospector, version-number

Bump version -> v0.1.0a1
  aiida_openmx/__init__.py
  setup.json
Due: prospector, version-number

Update requirements
  setup.json
Due: version-number

Align requirements with prospector v1.3.1
  .gitignore
  aiida_openmx/calculations/openmx.py
  aiida_openmx/schema/openmx-input-schema.json
  aiida_openmx/utils/_input.py
  setup.json
Due: prospector, version-number

Revert to sphinx-rtd-theme
  setup.json
Due: version-number

Try to get the docs to compile
  docs/source/developer_guide/index.rst
  docs/source/user_guide/get_started.rst
  docs/source/user_guide/input_keywords.rst
Due: none

Fix typo in docs requirements
  setup.json
Due: version-number

Implemented openmx Parser
  aiida_openmx/calculations/dosmain.py
  aiida_openmx/calculations/openmx.py
  aiida_openmx/parsers/__init__.py
  aiida_openmx/parsers/openmx.py
  aiida_openmx/schema/openmx-input-schema-upper.json
  aiida_openmx/utils/_dict.py
  aiida_openmx/utils/_input.py
Due: prospector

Working DosMain calculation
  aiida_openmx/calculations/dosmain.py
  aiida_openmx/calculations/openmx.py
  aiida_openmx/parsers/dosmain.py
  aiida_openmx/utils/dosmain/input.py
  aiida_openmx/utils/openmx/input.py
  setup.json
Due: prospector, version-number

v0.2.0
  aiida_openmx/__init__.py
  aiida_openmx/calculations/helpers/__init__.py
  aiida_openmx/calculations/helpers/openmx-input-schema.json
  aiida_openmx/calculations/helpers/openmx.py
  aiida_openmx/calculations/openmx.py
  aiida_openmx/cli/__init__.py
  aiida_openmx/cli/calculations/__init__.py
  aiida_openmx/cli/calculations/openmx.py
  aiida_openmx/cli/workflows/__init__.py
  aiida_openmx/cli/workflows/base.py
  aiida_openmx/parsers/openmx.py
  aiida_openmx/schema/openmx-input-schema-upper.json
  aiida_openmx/utils/_dict.py
  aiida_openmx/utils/dict.py
  aiida_openmx/utils/dosmain/input.py
  setup.json
  tests/test_cli.py
Due: prospector, version-number

Move pytest.ini contents to pyproject.toml
  examples/input_files/__init__.py
  pyproject.toml
  pytest.ini
Due: prospector

Add DosWorkChain
  aiida_openmx/calculations/dosmain.py
  aiida_openmx/workflows/dos.py
  setup.json
Due: prospector, version-number

Update README.md
  README.md
Due: none

Further clean up readme
  README.md
Due: none

Move to aiida-basis for PAO basis support
  aiida_openmx/calculations/openmx.py
  setup.json
Due: prospector, version-number

Clean up unused files
  aiida_openmx/calculations/helpers/openmx-input-schema.json
  aiida_openmx/cli/__init__.py
  aiida_openmx/cli/calculations/__init__.py
  aiida_openmx/cli/calculations/openmx.py
  aiida_openmx/cli/workflows/__init__.py
  aiida_openmx/cli/workflows/base.py
  aiida_openmx/cli/workflows/md.py
  aiida_openmx/schema/openmx-input-schema.json
Due: prospector

Tweaks to quick_s PAO configuration
  aiida_openmx/data/pao/quick_s.yaml
Due: none

Attempt at fixign withmpi
  aiida_openmx/calculations/openmx.py
Due: prospector

Explain pseudopotential and pseudoatomic orbital setup
  README.md
Due: none

Remove spurious subsection
  README.md
Due: none

Update README
  README.md
Due: none

Update setup and add CLI skeleton
  .pre-commit-config.yaml
  aiida_openmx/cli/__init__.py
  aiida_openmx/cli/data/__init__.py
  aiida_openmx/cli/data/pao.py
  aiida_openmx/cli/data/vps.py
  setup.json
  setup.py
Due: prospector, version-number

Path conditions:
  prospector: any of: \.py$
  version-number: any of: ^(setup.json)|(aiida_openmx/__init__.py)
